header{
    width: 80%;
    height: max-content;
    margin: 50px auto 0 auto;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

header p{
    font-size: 24px;
    font-family: 'Questrial', sans-serif;
}

header .portal{
    color: #fff;
}

header .monitoria{
    color: #EDD712;
    margin-left: 30px;
}