.mytopics-header{
    width: 80%;
    height: max-content;
    margin-top: 45px;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-bottom: 5px;
    border-bottom: 1px solid #bbb;
}

.mytopics-header h1{
    font-family: 'Questrial', sans-serif;
    font-weight: normal;
    color: #fff;
}

.mytopics-header a{
    color: #e035cf;
    text-decoration: none;
    font-family: 'Questrial', sans-serif;
    border: 1px solid #e035cf;
    width: 100px;
    height: 28px;
    display: grid;
    place-items: center;
}

.mytopics-div{
    width: 80%;
    height: max-content;
    margin-top: 15px;
    margin-left: auto;
    margin-right: auto;
}

.mytopic{
    width: 100%;
    height: max-content;
    min-height: 35px;
    background: #101010;
    margin-bottom: 10px;
    border-radius: 4px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px;
    box-sizing: border-box;
}

.mytopic p{
    color: #aaa;
    font-family: 'Quicksand', sans-serif;
}

.mytopic span{
    color: #edd712;
    font-family: 'Quicksand', sans-serif;
}