.topic{
    width: 100%;
    height: 40px;
    padding: 10px;
    box-sizing: border-box;
    border: 1px solid #EDD712;
    border-radius: 4px;
    display: grid;
    grid-template-columns: 1.5fr 1fr 1fr;
    margin-bottom: 10px;
}

.topic span{
    font-family: 'Quicksand', sans-serif;
}

.topic span:nth-child(1){
    color: white;
}

.topic span:nth-child(2){
    color: #EDD712;
}

.topic span:nth-child(3){
    color: #999;
    margin-left: auto;
}