.course-div{
    width: 100%;
    height: 150px;
    background: #101010;
    border-radius: 8px;
    border-bottom: 4px solid #EDD712;
    padding: 10px;
    box-sizing: border-box;
    position: relative;
    display: flex;
    justify-content: space-between;
    text-decoration: none;
}

.course-info{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 82%;
}

.course-years{
    width: 18%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.course-link{
    width: 100%;
    height: 20%;
    background-color: #E035CF;
    display: grid;
    place-items: center;
    border-radius: 4px;
    color: #101010;
    text-decoration: none;
    font-family: 'Questrial', sans-serif;
    border: 2px solid transparent;
}

.course-link:hover{
    background-color: transparent;
    border: 2px solid #E035CF;
    color: #E035CF;
}

.course-title{
    font-family: 'Questrial', sans-serif;
    color: #fff;
    font-size: 24px;
}

.course-monitors span{
    font-family: 'Quicksand', sans-serif;
    color: #fff;
    font-size: 16px;
}

.course-monitors li{
    font-family: 'Quicksand', sans-serif;
    color: #888;
    font-size: 14px;
    list-style: none;
}

.monitor-list{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}

/* Responsividade */
@media only screen and (max-width: 900px){
    .course-div{
        margin-bottom: 20px;
        height: 180px;
    }

    .course-link{
        font-size: 14px;
    }

    .course-title{
        font-size: 20px;
    }

    .monitor-list{
        display: grid;
        grid-template-columns: repeat(1, 1fr);
    }

    .course-monitors li{
        font-size: 12px;
    }
}