.lg-header{
    width: 100%;
    height: 200px;
    background: #101010;
    position: relative;
    border-bottom: 2px solid #EDD712;
    display: flex;
    justify-content: center;
}

.topic-title{
    display: flex;
    align-items: center;
    flex-direction: column;
    margin-top: 30px;
}

.topic-title p{
    font-family: 'Questrial', sans-serif;
    font-size: 28px;
    color: #fff;
}

.topic-title span{
    font-family: 'Questrial', sans-serif;
    font-size: 16px;
    color: #888;
}

.topic-return{
    display: flex;
    align-items: center;
    text-decoration: none;
    background: transparent;
    border: none;
    outline: none;
    cursor: pointer;
    position: absolute;
    bottom: 20px;
    left: 10%;
}

.topic-return img{
    height: 20px;
    width: auto;
    margin-right: 10px;
}

.topic-return span{
    font-size: 20px;
    font-family: 'Questrial', sans-serif;
    color:  #EDD712;
}

.topic-content{
    width: 60%;
    height: max-content;
    background: #fff;
    border-radius: 16px;
    margin: -80px 20% 0 20%;
    position: absolute;
    padding: 15px;
    box-sizing: border-box;
}

/*  */
.topic-content img{
    max-width: 100%;
}

.topic-content li{
    margin-left: 25px;
}

.topic-content table{
    border: 1px solid #000;
    border-spacing: 0px;
}

.topic-content td{
    border: 1px solid #000;
    padding: 5px;
}

.topic-content tr{
    border: 1px solid #000;
    padding: 5px;
}

.topic-content th{
    border: 1px solid #000;
    padding: 5px;
}

.topic-content h1, .topic-content h2, .topic-content h3, .topic-content h4, .topic-content h5, .topic-content h6{
    font-family: 'Ubuntu', sans-serif;
    font-weight: 500;
}

.topic-content blockquote{
    border-left: 2px solid #7e7e7e;
    color: #7e7e7e;
    padding: 5px;
}

.topic-content{
    font-family: 'Quicksand', sans-serif;
}

iframe{
    width: 100%;
}

/* Responsividade */
@media only screen and (max-width: 700px) {
    .lg-header{
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    .topic-title{
        align-items: flex-end;
        margin-top: 0;
        margin-right: 5%;
        margin-top: -50px;
    }

    .topic-content{
        width: 90%;
        margin: -80px 5% 0 5%;
    }

    .topic-return{
        margin-left: 5%;
        position: relative;
        bottom: 0;
        left: 0;
        margin-top: -50px;
    }

    .topic-return span{
        display: none;
    }
}