.main-content{
    width: 80%;
    height: 70vh;
    margin: 50px auto 50px auto;
    position: relative;
}

.md-icon{
    height: 30px;
}

.options button{
    border: none;
    width: 45px;
    height: 45px;
    border-radius: 4px;
    outline: none;
}

.move button{
    background: #EDD712;
}

.tabs button{
    background: #fff;
}

.move button svg{
    fill: #101010;
}

.tabs button svg{
    fill: #101010;
}

.selected{
    fill: #E035CF !important;
}

.options{
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 45px;
}

.tabs{
    display: grid;
    grid-template-columns: repeat(9, 1fr);
    gap: 10px;
}

.main-content main{
    margin-top: 20px;
    width: 100%;
    min-height: calc(100% - 45px - 20px);
    height: max-content;
    background: #101010;
    border-radius: 8px;
    padding: 15px;
    box-sizing: border-box;
    color: #fff;
    font-family: 'Quicksand', sans-serif;
    margin-bottom: 20px;
}

.tab-content h1{
    font-size: 28px;
}

.tab-content div{
    width: 100%;
    height: max-content;
    padding: 10px;
    box-sizing: border-box;
    border: 1px solid #fff;
    border-radius: 8px;
    margin-top: 15px;
}

.tab-content .code{
    font-family: 'Roboto Mono', monospace;
    font-weight: 400;
}

.tab-content blockquote{
    border-left: 2px solid #aaa;
    color: #aaa;
    padding: 5px;
}

.tab-content h1, .tab-content h2, .tab-content h3, .tab-content h4, .tab-content h5, .tab-content h6{
    font-family: 'Ubuntu', sans-serif;
    font-weight: 500;
}

.tab-content li{
    margin-left: 15px;
}

.tabSpace{
    margin-left: 15px;
}

.bigTabSpace{
    margin-left: 65px;
}

.tab-content table{
    border: 1px solid #fff;
    border-spacing: 0px;
}

.tab-content td{
    border: 1px solid #fff;
    padding: 5px;
}

.tab-content tr{
    border: 1px solid #fff;
    padding: 5px;
}

.tab-content th{
    border: 1px solid #fff;
    padding: 5px;
}

ul{
    margin-left: 20px;
}