.landing-page{
    margin: 10vh 10vw 10vh 10vw;
    width: 80vw;
    height: 80vh;
}

.content{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    width: 100%;
    height: 70vh;
    position: relative;
}

.content-name{
    position: absolute;
    top: 0;
    left: 0;
}

.content h1{
    font-family: 'Questrial', sans-serif;
    font-size: 32px;
    font-weight: 400;
}

h1.portal{
    color: white;
}

h1.monitoria{
    color: #EDD712;
    margin-left: 40px;
}

.landing-mobile{
    margin-top: 5%;
    width: auto;
    height: 80%;
}

.entry-types{
    height: 50px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.entry-types a{
    display: flex;
    width: 160px;
    height: 40px;
    border-radius: 2px;
    align-items: center;
    justify-content: space-evenly;
    color: #202020;
    text-decoration: none;
    font-family: 'Questrial', sans-serif;
}

.entry-types .student{
    background: #e035cf;
    box-shadow: 0 4px #950987;
}

.entry-types .monitor{
    background: #edd712;
    box-shadow: 0 4px #d89426;
}

.entry-types .student:active{
    box-shadow: 0 2px #950987;
    transform: translateY(2px);
}

.entry-types .monitor:active{
    box-shadow: 0 2px #d89426;
    transform: translateY(2px);
}

.entry-types a img{
    width: auto;
    height: 16px;
}