.topic-list{
    width: 80%;
    height: 70vh;
    margin: 50px auto 50px auto;
    background: #101010;
    border-radius: 8px;
    overflow-y: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px;
    box-sizing: border-box;
}

.topic-list::-webkit-scrollbar {
    width: 10px;
}

.topic-list::-webkit-scrollbar-thumb {
    background: #EDD712; 
    border-radius: 8px;
}