.class-info{
    width: 100%;
    height: max-content;
    border: 1px solid #e035cf;
    padding: 4px;
    box-sizing: border-box;
    border-radius: 4px;
    margin-bottom: 10px;
}

.class-info img{
    width: 20px;
    height: 20px;
}

.class-info h1{
    color: #e035cf;
    font-family: 'Questrial', sans-serif;
    font-size: 24px;
    font-weight: 400;
}

.item-title{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.info-item p{
    font-size: 16px;
    font-family: 'Quicksand', sans-serif;
    color: #999;
}

.open{
    border: 1px solid #EDD712;
}

.open h1{
    color: #EDD712;
}