.form{
    width: 80%;
    height: 70vh;
    /* background: blue; */
    margin: 50px auto 50px auto;
}

.input-group{
    width: 100%;
    height: max-content;
    display: flex;
    flex-direction: column;
    margin-bottom: 10px;
}

.input-group label{
    font-size: 16px;
    font-family: 'Quicksand', sans-serif;
    color: white;
}

.input-group input, .input-group select{
    height: 32px;
    font-family: 'Quicksand', sans-serif;
    background: #101010;
    color: white;
    padding: 5px;
    box-sizing: border-box;
    border: none;
    border-radius: 4px;
    outline: none;
}

.input-group textarea{
    height: 150px;
    min-height: 150px;
    font-family: 'Quicksand', sans-serif;
    background: #101010;
    color: white;
    padding: 5px;
    box-sizing: border-box;
    border: none;
    border-radius: 4px;
    outline: none;
    resize: vertical;
}